body{
    background-color: rgb(99, 69, 33);
    color: rgb(217, 213, 219) ;
    font-family: "Nerko One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 5;
}

button { 
    background-color: rgb(95, 53, 4);
    color : rgb(204, 195, 185);
    font-family: "Nerko One", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    min-width: 70%;
}

img {
    min-width: 60%;
}

